<!--The content below is only a placeholder and can be replaced.-->
<div class="row1">
  <div class="row">
    <nav class="navbar navbar-light col-md-1">
      <ul class="nav navbar-nav left-buffer">
        <li *ngFor="let student of students" class="nav-item">
          <a [routerLink]="['/details', student.index]"
             class="nav-link"
             [class.active]="currentStudent === student">
            {{student.index}}
          </a>
        </li>
      </ul>
    </nav>

    <div class="col-md-9">
      <!--    <app-student-details [student]="currentStudent"></app-student-details>

          <app-student-edit [editingStudent]="currentStudent"></app-student-edit>-->
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row2">
    <button class="btn btn-xl btn-primary col-md-2"
            [routerLink]="['new']">
      New
    </button>
  </div>
</div>
